h1{

}


.content{
    background-color: white;
    margin-right: 90px;

}
.container{
    background-image: url("chip-abajo.jpg");
}

.texto1{
    background-color: #0000ff;
    color: white;
}


.texto{
    background-color: #acdae4;
    color: black;
}